@{
    ViewData["Title"] = "Pagina inicial";
}

<h2>Cadastrar paciente</h2>

<button class="btn btn-primary mt-3 mb-4" type="button" onclick="incluirPaciente(this)">
	Gravar
	<i class="fas fa-save mx-1"></i>
</button>
<div class="row">
    <div class="form-group col-xl-3">
		<label>Nome</label>
		<input id="nome" class="form-control" type="text" name="nome" />
	</div>
	<div class="form-group col-xl-3">
		<label>Data de nascimento</label>
		<input id="dataNascimento" class="form-control" type="date" name="dataNascimento" />
	</div>
	<div class="form-group col-xl-3">
		<label>Altura</label>
		<input id="altura" class="form-control" type="number" name="altura" />
	</div>
	<div class="form-group col-xl-3">
		<label>Peso</label>
		<input id="peso" class="form-control" type="number" name="peso" />
	</div>
</div>

<script defer>
	async function incluirPaciente() {
        const optionsFetch = {
            url: '@Url.Action("Cadastrar", "CadastrarPaciente")',
            data: {
                Nome: document.getElementById('nome').value,
                DataNascimento: new Date(document.getElementById('dataNascimento').value),
                Altura: document.getElementById('altura').value,
                Peso: document.getElementById('peso').value
            },
            method: 'POST'
        };
        const resposta = await postJSON(optionsFetch);
        alert('Paciente cadastrado com sucesso');
	}
</script>